.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-div{
    width: 30rem;
    display: flex;
    justify-content: center;
}

img {
    height: 20rem;
    margin: 1rem;
}

.nav-arrows {
    height: 5rem;
    width: auto;
}

.nav-arrows:hover {
    background-color: ivory;
}