<div class="content-div">
  <div class="paragraph">
    <mat-card appearance="outlined">
      <mat-card-header>
        <h1>My Japanese Adventure / <br/> 僕の日本語冒険</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          Between 2007 and 2013, I embarked on a self-directed study of the
          Japanese language, culminating in passing the
          <a href="https://www.jlpt.jp/e/faq/index.html">JLPT</a> N5 and N4
          exams. My passion for Japanese culture led me to choose it as a minor
          when I enrolled at Binghamton University. Through dedicated
          coursework, I further honed my language skills and successfully passed
          the JLPT N3 exam in December 2015. The intricate beauty of the
          Japanese language and the richness of its culture have been a
          long-standing passion of mine, deeply influencing my academic and
          personal pursuits.
        </p>
      </mat-card-content>
    </mat-card>
    <div id="image-div">
      <mat-card appearance="outlined">
        <mat-card-content id="images">
          <div class="jlpt-score">
            <img alt="jlpt-n5-score"
              src="https://firebasestorage.googleapis.com/v0/b/jlz-portfolio.appspot.com/o/hobbies%2Fjlpt%2FJLPTN5.avif?alt=media&token=2cb20aae-5cda-48f2-b407-ee0ed8731cf7" />
            <caption>
              Certificate of Passing JLPT N5
            </caption>
          </div>

          <div class="jlpt-score">
            <img alt="jlpt-n4-score"
              src="https://firebasestorage.googleapis.com/v0/b/jlz-portfolio.appspot.com/o/hobbies%2Fjlpt%2FJLPTN4.jpeg?alt=media&token=63aabca6-e50b-4354-bfad-b962c299c4c4" />
            <caption>
              Certificate of Passing JLPT N4
            </caption>
          </div>

          <div class="jlpt-score">
            <img alt="jlpt-n3-score"
              src="https://firebasestorage.googleapis.com/v0/b/jlz-portfolio.appspot.com/o/hobbies%2Fjlpt%2FJLPTN3.jpeg?alt=media&token=8a9e7a7b-45bd-458d-ad50-9f040ef2db90" />
            <caption>
              Online Report of Passing JLPT N3
            </caption>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="paragraph">
    <mat-card appearance="outlined">
      <mat-card-header>
        <h1>2011 Trip To Japan</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          I've been to Japan once and it was an incredible adventure. I need to
          go back! I traveled to Tokyo, Kyoto, and Hiroshima. Below you'll find
          various photos from all 3 prefectures. I got to ride Shinkansen
          (Bullet Trains), see temples, and enjoy ordering Starbucks in
          Japanese!
        </p>
      </mat-card-content>
    </mat-card>
    @defer (on timer(2s)) {


    <mat-card>
      <mat-card-content>
        <app-photo-gallery [photoGrids]="photoGrids" [galleryRefs]="galleryRefs" [galleryIds]="galleryIds"
          [galleryType]="'GAL'">
        </app-photo-gallery>
      </mat-card-content>
    </mat-card>

    } @loading (minimum 8s) {
    <mat-card>
      <mat-card-content>
        <app-loading-overlay> </app-loading-overlay>
      </mat-card-content>
    </mat-card>
    } @error {
    <h1>An Error Has Occured. No Pictures To Display!</h1>
    }

    <!-- <app-carousel [slides]="japanPics"></app-carousel> -->
  </div>
</div>
