# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For Angular's browser support policy, please see:
# https://angular.dev/reference/versions#browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

Chrome >= 110
ChromeAndroid >= 115
Edge >= 110
Firefox >= 115
FirefoxAndroid >= 115
Safari >= 16
iOS >= 16
