tag-version-prefix="v"
message="chore(release): %s :tada:"
@zwiqler94:registry=https://us-central1-npm.pkg.dev/jlz-portfolio/everything-lib/
//us-central1-npm.pkg.dev/jlz-portfolio/everything-lib/:always-auth=true