// Variables for reuse
$max-width-main: 80dvw;
$card-margin: 1rem;

// General layout styles
.about-content {
  position: relative;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.flexor {
  flex: 1 2 20dvw;
}

.flexor.flexooooor {
  flex: 2 1 80dvw;
}

.about-content:not(:last-child) {
  margin-inline-end: 1rem;
}

img#profile-image {
  height: 40dvh;
  aspect-ratio: 3/4;
  border-radius: 0.25rem;
}

// Main container styles
#center-about-div {
  max-width: $max-width-main;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  // flex: 4 1 80dvw;

  > .row > .mat-mdc-card:not(:last-child) {
    margin-right: $card-margin;
  }

  > .mat-mdc-card {
    padding: 0.25rem;
  }
}

// Sidebar styles
#right-about-div,
#left-about-div {
  width: 20dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--mat-sys-secondary-container);
  box-shadow: var(--mat-sys-level2);
  border-radius: 10px;
}

#right-about-div {
  align-items: flex-end;
}

#left-about-div {
  align-items: flex-start;
}

// Card styles
.mat-mdc-card {
  margin: 0.938rem;
  max-width: 40dvw;
  min-height: 20.75rem;
}

.tertiary-container {
  min-width: 14vw;
}

// Row styles
.row,
.inner-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-block-start: 0.75rem;
}

// Image styling
.about-img {
  max-height: 10rem;
  margin-inline-end: 0.5rem;
}

// Media Queries
@media (max-width: 1440px), (max-width: 1280px) {
  .about-content:not(:last-child) .mat-mdc-card {
    margin-right: 8rem;
  }

  .row {
    flex-direction: column;
  }
}

@media (max-width: 1180px) {
  .about-content:not(:last-child) .mat-mdc-card {
    margin-right: 0;
  }
}

@media (max-width: 870px) {
  #center-about-div > .mat-mdc-card {
    margin: 0 5rem 2rem;
    max-width: 24rem;
    max-height: 80rem;
  }
}

@media (max-width: 550px) {
  #center-about-div > .mat-mdc-card {
    max-width: 24rem;
  }
}

@media (max-width: 430px) {
  #center-about-div > .mat-mdc-card {
    max-height: 85rem;
  }

  .inner-row {
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  #center-about-div > .mat-mdc-card {
    max-width: 21rem;
    max-height: 70rem;
  }

  .mat-mdc-card {
    font-size: smaller;
  }
}

@media (max-width: 320px) {
  #center-about-div > .mat-mdc-card {
    max-width: 19rem;
  }

  .mat-mdc-card {
    font-size: smaller;
  }
}
