img#profile-image {
  height: 40vh;
  aspect-ratio: 3/4;
  border-radius: 0.25rem;
}

div#center-about-div>.mat-mdc-card {
  padding: 0.25rem;
  // width: 35rem;
  // height: 88rem;
}

.mat-mdc-card-header {
  margin-block-end: 1rem;
}

.about-img {
  max-height: 10rem;
  margin-inline-end: 0.5rem;
}

#right-about-div,
#left-about-div {
  width: 8vw;
  display: flex;
  flex-direction: column;
}

#right-about-div {
  align-items: flex-end;
  justify-content: center;
}

#left-about-div {
  align-items: flex-start;
  justify-content: center;
}

#center-about-div {
  max-width: 90vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  // p {
  //   margin-block-start: 0.5rem;
  // }
}

.row {
  display: flex;
  align-items: flex-start;
  // justify-content: center;
  flex-direction: row;
}

.inner-row {
  display: flex;
  align-items: flex-start;
  // justify-content: center;
  flex-direction: row;
}

.mat-mdc-card {
  margin: 0.938rem;
  max-width: 40vw;
  min-height: 20.75rem;
}

.tertiary-container {
  min-width: 14vw;
}

// #right-about-div:not(:last-child) .mat-mdc-card {
//   margin-bottom: 1rem;
// }

// #right-about-div .mat-mdc-card,
// #left-about-div .mat-mdc-card {
//   padding: 0.25rem;
//   width: 13rem;
//   height: 17.15rem;
// }

#center-about-div > .row > .mat-mdc-card:not(:last-child) {
  margin-right: 1rem;
}

// #left-about-div>.mat-mdc-card:not(:last-child) {
//   margin-bottom: 1rem;
// }

.about-content,
.project-content {
  position: relative;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 1440px) {
  .about-content:not(:last-child) .mat-mdc-card {
    margin-right: 11rem;
  }
}

@media (max-width: 1280px) {
  .about-content:not(:last-child) .mat-mdc-card {
    margin-right: 8rem;
  }

  .row {
    flex-direction: column;
  }

  .mat-mdc-card {
    max-width: 80vw;
  }
}

@media (max-width: 1180px) {
  // .side-image,
  // #right-about-div,
  // #left-about-div {
  //   display: none;
  // }

  .about-content:not(:last-child) .mat-mdc-card {
    margin-right: 0rem;
  }

  // img#profile-image {
  //   // height: 32rem;
  // }
}

@media (max-width: 870px) {
  div#center-about-div>.mat-mdc-card {
    margin: 0 5rem 2rem 5rem;
    max-width: 24rem;
    max-height: 80rem;
  }
}

@media (max-width: 550px) {
  div#center-about-div>.mat-mdc-card {
    max-width: 24rem;
  }
}

@media (max-width: 430px) {
  div#center-about-div>.mat-mdc-card {
    max-height: 85rem;
  }
  .inner-row {
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  div#center-about-div>.mat-mdc-card {
    max-width: 21rem;
    max-height: 70rem;
  }

  // img#profile-image {
  //   // height: 28rem;
  // }

  /*  The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  .mat-mdc-card {
    font-size: smaller;
  }
}

@media (max-width: 320px) {
  div#center-about-div>.mat-mdc-card {
    max-width: 19rem;
  }

  img#profile-image {
    // height: 25.3rem;
  }

  /*  The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  .mat-mdc-card {
    font-size: smaller;
  }
}
