@use "sass:map";
@use "../../../style_vars/75_theme-colors.scss" as themes;

.outter-grid {
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

.grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 10px;
}

#placeholder {
  max-inline-size: 100%;
}

.mat-mdc-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-card-content,
.mat-mdc-card-content:first-child,
.mat-mdc-card-content:last-child {
  padding: 0.3rem;
  padding-block-end: 0.05rem;
}

.primary-1 {
  background-color: map.get(themes.$primary-palette, 100);
}

.secondary-1 {
  background-color: map.get(map.get(themes.$primary-palette, secondary), 100);
}

.complementary-1 {
  background-color: map.get(themes.$tertiary-palette, 100);
}

.secondary-9 {
  background-color: map.get(map.get(themes.$primary-palette, secondary), 200);
}

.complementary-2 {
  background-color: map.get(themes.$tertiary-palette, 100);
}

.primary-2 {
  background-color: map.get(themes.$primary-palette, 100);
}

.secondary-2 {
  background-color: map.get(map.get(themes.$primary-palette, secondary), 300);
}

.primary-3 {
  background-color: map.get(themes.$primary-palette, 100);
}

.complementary-3 {
  background-color: map.get(themes.$tertiary-palette, 100);
}

.complementary-4 {
  background-color: map.get(themes.$tertiary-palette, 100);
}

.primary-4 {
  background-color: map.get(themes.$primary-palette, 100);
}

.secondary-3 {
  background-color: map.get(map.get(themes.$primary-palette, secondary), 400);
}

.primary-5 {
  background-color: map.get(themes.$primary-palette, 100);
}

.complementary-5 {
  background-color: map.get(themes.$tertiary-palette, 100);
}

.complementary-6 {
  background-color: map.get(themes.$tertiary-palette, 100);
}

.primary-6 {
  background-color: map.get(themes.$primary-palette, 100);
}

.secondary-4 {
  background-color: map.get(map.get(themes.$primary-palette, secondary), 700);
}

.primary-7 {
  background-color: map.get(themes.$primary-palette, 100);
}

.secondary-6 {
  background-color: map.get(map.get(themes.$primary-palette, secondary), 800);
}

.secondary-7 {
  background-color: map.get(map.get(themes.$primary-palette, secondary), 800);
}

.primary-8 {
  background-color: map.get(themes.$primary-palette, 100);
}

.secondary-5 {
  background-color: map.get(map.get(themes.$primary-palette, secondary), 900);
}

.primary-9 {
  background-color: map.get(themes.$primary-palette, 100);
}

.complementary-7 {
  background-color: map.get(themes.$tertiary-palette, 100);
}

.secondary-8 {
  background-color: map.get(map.get(themes.$primary-palette, secondary), 900);
}

gallery {
  border-radius: 1%;
  margin-inline: 3.5vw;
  max-width: 43vw;
}

@media (max-width: 1080px) {
  div.outter-grid {
    flex-direction: column;
  }

  .outter-grid,
  .grid {
    margin: 0rem;
    padding: 0rem;
  }

  .grid-item {
    margin: 0.5rem;
  }

  img {
    border-radius: 8px;
  }

  gallery {
    margin-inline: 7vw;
    max-width: 86vw;
  }
}
