<!-- <div id="main">
  <div>
    <h2>News About Me</h2>
    <div>
      <h3>Articles About Me</h3>
      <jzp-feed id="article-feed" [feedLocation]="'Articles'"></jzp-feed>
    </div>
  </div>
  <div>
    <h2>Puppy News!</h2>
    <jzp-feed id="puppy-feed" [feedLocation]="'Puppy'"></jzp-feed>
  </div>

  <div>
    <h2>News About Things That Interest Me</h2>
    <div>
      <h3>Apple News</h3>
      <jzp-feed id="apple-feed" [feedLocation]="'Apple'"></jzp-feed>
    </div>
    <div>
      <h3>Anime News</h3>
      <jzp-feed id="anime-feed" [feedLocation]="'Anime'"></jzp-feed>
    </div>
    <div>
      <h3>Blockchain News</h3>
      <jzp-feed id="blockchain-feed" [feedLocation]="'Blockchain'"></jzp-feed>
    </div>
  </div>
</div> -->
