<div class="about-content">
  <div id="credential-div">
    <mat-card class="inner-card">
      <mat-card-content>
        <div class="badges" data-iframe-width="260" data-iframe-height="260"
          data-share-badge-id="8764a866-3c71-42ee-a250-c8c534f11c1c" data-share-badge-host="https://www.credly.com">
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner-card">
      <mat-card-content>
        <div class="badges" data-iframe-width="260" data-iframe-height="260"
          data-share-badge-id="de13c140-19b0-48a4-a4a2-102ae76a1a9f" data-share-badge-host="https://www.credly.com">
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner-card">
      <mat-card-content>
        <div class="badges" data-iframe-width="260" data-iframe-height="260"
          data-share-badge-id="cf233590-0d5d-439e-8250-699a65a96d64" data-share-badge-host="https://www.credly.com">
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner-card">
      <mat-card-content>
        <div class="badges" data-iframe-width="260" data-iframe-height="260"
          data-share-badge-id="646fd56b-5b42-49d3-ab4e-55deeb252fcc" data-share-badge-host="https://www.credly.com">
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner-card">
      <mat-card-content>
        <div class="badges" data-iframe-width="260" data-iframe-height="260"
          data-share-badge-id="006da363-74b6-4f70-a2f1-1d89448ca9af" data-share-badge-host="https://www.credly.com">
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner-card">
      <mat-card-content>
        <div class="badges" data-iframe-width="260" data-iframe-height="260"
          data-share-badge-id="b94419ca-c4f1-416c-9886-e79f15dbc462" data-share-badge-host="https://www.credly.com">
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner-card">
      <mat-card-content>
        <div class="badges" data-iframe-width="260" data-iframe-height="260"
          data-share-badge-id="2af07c6c-dc9d-45ef-b6e9-9596fab38b30" data-share-badge-host="https://www.credly.com">
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner-card">
      <mat-card-content>
        <iframe src="https://skillshop.credential.net/1869f2b9-3ca2-415d-a619-406abe69d7bc" height="285px"
          width="255px"></iframe>
      </mat-card-content>
    </mat-card>
    <div *ngFor="let item of profile.xp.achievements">
      <mat-card class="inner-card" style="display: flex; align-items: center; justify-content: center; ">

        <a [href]="MICROSOFT_LEARN_URL+item.url" style="display: flex; align-items: center; justify-content: center; ">
          <mat-card-content>
            <img mat-card-image style="height: 100px; width: 100px;" [src]="MICROSOFT_LEARN_URL+item.imageUrl">
          </mat-card-content>
        </a>
        <mat-card-subtitle> <div style="display: flex; align-items: center; justify-content: center; text-align: center;"> {{item.title}} </div> </mat-card-subtitle>
        <mat-card-footer style="display: flex; align-items:baseline ; justify-content: center; ">
          <h6>Powered by Microsoft Learn</h6>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

</div>


