.about-content {
  position: relative;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.credential-div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75vw;
}

/*  The following rule targets internal classes of card that may no longer apply for the MDC version.*/
.mat-mdc-card.inner-card {
  padding: 0.25rem;
  margin: 0.5rem;
  width: 18.75rem;
  min-height: 18.9688rem;
}

img {
  max-height: 6.25rem;
}

@media (prefers-color-scheme: dark) {
  #credential-div > div {
    .mat-mdc-card,
    .mat-mdc-card-subtitle {
      color: #ffee80;
      // background-color: ;
    }
  }
}
