.about-content {
  position: relative;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#credential-div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 59.25rem;
}

mat-card.inner-card {
  padding: 0.25rem;
  margin: 0.5rem;
  width: 18.75rem;
}
