/*  The following rule targets internal classes of chips that may no longer apply for the MDC version. */
mat-chip {
  height: 2rem;
}

.skills-content {
  position: relative;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--mat-sys-on-secondary-container);
}

#skills-title {
  margin-block-start: 1rem;
  margin-inline-start: 1rem;
}

/*  The following rule targets internal classes of card that may no longer apply for the MDC version. */
.mat-mdc-card {
  padding: 0.25rem;
  max-width: 100%;
  min-width: 45%;
}

@media (max-width: 390px) {
  .mat-mdc-card {
    min-width: 21.25%;
    max-width: 21.25%;
  }
}

@media (max-width: 375px) {
  .mat-mdc-card {
    min-width: 22%;
    max-width: 22%;
  }
}

@media (max-width: 320px) {
  .mat-mdc-card {
    min-width: 19%;
    max-width: 19%;
  }
}
