@use "../styles.scss" as styles;

$main-view-height: 85vh;
$sidenav-height: calc($main-view-height - styles.$toolbar-height);

#main-view {
  height: $main-view-height;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-container-column {
  display: flex;
  flex-direction: column;
  margin-block-start: 1rem;
  justify-content: center;
}

// mat-sidenav-content {
//   height: $sidenav-height;
// }

.mat-drawer-container {
  margin-bottom: -0.8125rem;
  // height: 95vh;
}

.vert-spacer {
  height: 0.25rem;
}

mat-sidenav#side-nav {
  width: 12rem;
}

#button-container-column > button {
  display: inline-flex;
  flex-direction: row-reverse;
  width: 11rem;
  justify-content: flex-start;

  mat-icon {
    margin: 0.5rem;
  }
}

#footer-sidenav {
  width: 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // height: 3.5rem;
}
