<mat-toolbar color="accent">
  <div id="logo">
    <a routerLink="/home" id="toolbar-logo" routerLinkActive="active">
      <img src="../assets/toolbar-logo.png" />
    </a>
  </div>
  <div id="button-container">
    <button
      color="primary"
      mat-raised-button
      routerLink="/aboutme"
      routerLinkActive="active"
    >
      About Me
    </button>
    <div class="spacer"></div>
    <button
      color="primary"
      mat-raised-button
      routerLink="/hobbies"
      routerLinkActive="active"
    >
      Hobbies
    </button>
    <div class="spacer"></div>
    <button
      color="primary"
      mat-raised-button
      routerLink="/news"
      routerLinkActive="active"
    >
      News
    </button>
    <div class="spacer"></div>
    <button mat-raised-button (click)="logout()">LOGOUT!</button>
    <!-- <button color="primary" mat-raised-button routerLink="/socials" routerLinkActive="active">Socials</button> -->
  </div>
 
</mat-toolbar>
<div id="main-view">
  <router-outlet></router-outlet>
</div>
