#main-view {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: row;
}

#toolbar-logo,
#toolbar-logo > img {
  height: 15rem;
  width: 31.25rem;
  margin-right: 5rem;
}

mat-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.spacer {
  width: 0.25rem;
}

@media (min-width: 43.438rem) {
  mat-toolbar {
    justify-content: center;
    align-items: center;
    height: 240px;
  }
}

@media (min-width: 20rem) {
  mat-toolbar {
    height: 240px;
  }
}
