@use "../../../style_vars/breakpoints" as bp;

#menu {
  display: flex;
  justify-content: flex-end;
  margin-left: clamp(1rem, 4dvw, 4rem);
  flex-shrink: 3;
  min-width: 0;
}

@include bp.down(tablet) {
  #menu {
    margin-left: 0;
  }
}
