#feed-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feed {
    display: flex;
    background-color: #ff98ee;
    width: 60vw;
    justify-content: center;
    border-radius: 3%;
    
}