@use "../../../style_vars/75_theme-colors.scss" as themes;
@use "sass:map";

.feed-div-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feed-div-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#under-construction {
  background-color: map.get(map.get(themes.$primary-palette, error), 35);
}
