<div id="main">
    <div>
        <h2> News About Me </h2>
        <div>
            <h3>Articles About Me </h3>
            <ul>
                <li><a
                        href="https://www.insider.com/facebook-coming-out-feature-national-coming-out-day-2018-10?render-embed=video">
                        Facebook's Coming Out Feature</a></li>
                <li><a href="https://www.thejewishstar.com/stories/HAFTR-Highlights,3038">High School Highlight</a></li>
            </ul>
        </div>
        <div>
            <h2> Puppy News! </h2>
           <app-feed id="puppy-feed" [feedLocation]="'Puppy'"></app-feed>
        </div>
    </div>
    <div>
        <h2> News About Things That Interest Me</h2>
        <div>
            <h3>Apple News</h3>
            <app-feed id="apple-feed" [feedLocation]="'Apple News'"></app-feed>
        </div>
        <div>
            <h3>Anime News</h3>
            <app-feed id="anime-feed" [feedLocation]="'Anime News'"></app-feed>
        </div>
        <div>
            <h3>Blockchain News</h3>
            <app-feed id="blockchain-feed" [feedLocation]="'Blockchain News'"></app-feed>
        </div>

    </div>
</div>