$hobby-div-height: 100vh;
$content-div-height: calc($hobby-div-height - 1rem);
$paragraph-div-height: calc($content-div-height - 2rem);

#hobby-div {
    display: flex;
    height: $hobby-div-height;
    width: 100vw;
    background-color: gray;
    justify-content: center;
    font-size: 1rem;
}

.content-div {
    height: $content-div-height;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.paragraph {
    margin: 1rem;
    height: $paragraph-div-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.image-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figcaption {
    margin-top: 0.5rem;
}

.jlpt-score,
.japan {
    height: 20rem;
    width: auto;
}

video {
    margin: 1rem;
    height: 20rem;
    width: 50vh;
    justify-self: center;
    align-self: center;
}

mat-tab-group {
    width: 100vw;
}

mat-card {
    margin: 0.938rem;
    max-width: 42.5rem;
}

.mat-card-image:first-child {
    margin-top: 0;
}

.starbucks-pics {
    height: 18rem;
    width: auto;
    margin: 2rem;
    border: lightblue;
    border-style: solid;
}

#drink-div {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
    width: 80vw;
}