.social-div {
    display: flex;
    flex-direction: column;
}

.social-buttons {
    display: flex;
}

#twitter-logo {
    height: 100px;
    width: 100px;
}

#facebook-logo {
    height: 100px;
    width: 100px;
}

#instagram-logo {
    margin: auto;
    height: 60px;
    width: 60px;
}

.insta-posts{
    display: inline-flex;
}

#feeds {
    display: flex;
    flex-direction: column;
}

#instgram-feed {
    display: inline-flex;
    height: 90vh;
    width: 40vw;
}

#twitter-feed {
    display: flex;
    flex-direction: column;
}

#instagram-circle{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: antiquewhite;
    border: 5px;
    border-color: palevioletred;
    
}