.social-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
}

.social-buttons {
  display: flex;
}

#twitter-logo {
  height: 100px;
  width: 100px;
}

#facebook-logo {
  height: 100px;
  width: 100px;
}

#instagram-logo {
  margin: auto;
  height: 60px;
  width: 60px;
}

.insta-posts {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 400rem;
  max-width: 65rem;
  margin: 0.5rem;
}

#feeds {
  display: flex;
  flex-direction: column;
  padding: 0.65rem;
  margin: 0.65rem;
}

#instagram-feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  width: 100vw;
}

#twitter-feed {
  display: flex;
  flex-direction: column;
}

#instagram-circle {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: antiquewhite;
  border: 5px;
  border-color: palevioletred;
}
