<div class="about-content">
  <mat-card >
    <img id="profile-image" mat-card-image [src]="_profileImage" alt="a pic of me" />
    <mat-card-content>
      <p>
        Jake Zwickler is a Blockchain Technology Consultant within IBM's Global
        Business Services. Mr. Zwickler graduated from Binghamton University
        with a Bachelor of Science in Computer Science and a minor in Japanese.
        Through his studies and work experiences, he has developed a proficiency
        across a range of development languages and platforms. Mr. Zwickler has
        worked on projects including the OpenIDL, Responsible Sourcing
        Blockchain Network, and the NY State Excelsior Pass.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<app-feed [direction]="'H'" [feedLocation]="'about'"></app-feed>
