@font-face {
  font-family: PerfectDOSVGA437;
  src: local("Perfect DOS VGA 437.ttf") format("truetype"),
    url("../../../assets/fonts/Perfect DOS VGA 437.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.error-404-box {
  padding-top: 2rem;
  height: 10vh;
  width: 20vw;
  font-size: 10vh;
  display: flex;
}

.indent {
  margin-left: 1rem;
}

.notfound, .notfound-text {
  align-items: center;
  background-color: #000084;
  color: #bbb;
  display: flex;
  font-family: "Perfect DOS VGA 437", monospace;
  font-size: 1.5vw;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.row {
  text-align: left;
}

.centered {
  text-align: center;
}

.inverted {
  background-color: #bbb;
  color: #000084;
}

.shadow {
  box-shadow: .75rem .5rem black;
}

.blink {
  animation: blinkingText 0.8s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
