<div class="notfound">
    <div class="notfound-text">
        <div class="centered"><span class="inverted"></span></div>
        <div class="error-404-box centered inverted shadow">404
        </div>
        <br>
        <br>
        <div class="centered"><span class="shadow"></span></div>
        <div class="row">
            <p></p>
            <p>A fatal exception 404 has occurred at C0DE:ABAD1DEA in 0xC0DEBA5E.</p>
            <p>The current request will be terminated.</p>
            <p></p>
            <p>* Press any key to return to the previous page.</p>
            <p>* Press CTRL+ALT+DEL to restart your computer. </p>
            <p class="indent"> You will lose any unsaved information in all applications.</p>

            <p></p>
            <p class="centered">Press any key to continue...<span class="blink">&#9608;</span></p>

        </div>
    </div>
    poop
</div>