.credential-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: var(--mat-sys-on-secondary-container);
}

#credential-title {
  margin-block-start: 1rem;
  margin-inline-start: 1rem;
}

iframe  body{
  padding: 0;
}

#credential-div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.mat-mdc-card-title {
  font: var(--mat-sys-body-large);

}

.mat-mdc-card div.mat-mdc-card-header-text.mat-mdc-card-header-text.mat-mdc-card-header-text.mat-mdc-card-header-text.mat-mdc-card-header-text{
    text-overflow: ellipsis;
    overflow: hidden;
    /* width: 8rem; */
    /* height: 1.5rem; */
    white-space: nowrap;
    display: block;

}

/*  The following rule targets internal classes of card that may no longer apply for the MDC version.*/
.mat-mdc-card.inner-card {
  padding: 0.25rem;
  margin: 0.5rem;
  width: 20.75rem;
}

img {
  max-inline-size: 50px;
  block-size: auto;
  border-radius: 0;
}

// @media (prefers-color-scheme: dark) {
//   #credential-div > div {
//     .mat-mdc-card,
//     .mat-mdc-card-subtitle {
//       color: #ffee80;
//       // background-color: ;
//     }
//   }
// }
