#post-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    margin: 0.938rem;
    max-width: 42.5rem;
}

img{
    height: auto;
    max-width: 42.5rem;
    margin-bottom: 0%;
}

#link-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: gray;
    margin-left: -16px;
    margin-right: -16px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 25.875rem) {
    mat-card {
        margin: 0.938rem;
        max-width: 80%;
    }
}