#post-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    margin: 0.938rem;
    max-width: 42.5rem;
}

img{
    height: auto;
    max-width: 45rem;
    margin-bottom: 0%;
}

#link-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: gray;
    margin-left: -16px;
    margin-right: -16px;
}

#link-title, #link-description {
    margin-left:  2rem;
    margin-right:  2rem;
}

a {
    margin-top: 1.5rem;
    text-decoration: none;
    color: inherit;
    display: block;
    justify-self: auto;
}

@media (max-width: 25.875rem) {
    mat-card {
        margin: 0.938rem;
        max-width: 80%;
    }
    img{
        min-width: 100%;
    }
}
