@use "themes";

#post-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin: 0.938rem;
  max-width: 42.5rem;
}

img {
  height: auto;
  width: 40rem;
  margin-bottom: 0.8rem;
  margin-left: 0.3rem;
}

#link-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: map-get(themes.$md-A-1-complementary, 700);
  margin-left: -16px;
  margin-right: -16px;
}

#link-title,
#link-description {
  margin-left: 2rem;
  margin-right: 2rem;
  word-break: break-all;
}

a {
  margin-top: 1.5rem;
  text-decoration: none;
  color: inherit;
  display: block;
  justify-self: auto;
}



@media (min-width: 531px) and (max-width: 700px) {
  mat-card {
    margin: 0.938rem;
    max-width: 30.5rem;
  }

  img {
    width: 28rem;
  }
}

@media (min-width: 410px) and (max-width: 530px) {
  mat-card {
    margin: 0.938rem;
    max-width: 24.5rem;
  }

    img {
      width: 22rem;
    }

}

@media  (max-width: 409px) {
  mat-card {
    margin: 0.938rem;
    max-width: 24rem;
  }

  img {
    width: 21rem;
  }
}