<div id="post-div">
    <mat-card>
        <mat-card-header>
            <mat-card-title> {{postTitle}} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{postContent}}</p>
            <a *ngIf="hasLinkPreviewData" href="{{getLinkPreviewData.url}}">

                <img mat-card-image src="{{getLinkPreviewData.image}}">

                <div id="link-info">
                    <h3 id="link-title">{{getLinkPreviewData.title}}</h3>
                    <h4 id="link-description">{{getLinkPreviewData.description}}</h4>
                </div>
            </a>
        </mat-card-content>
    </mat-card>
</div>