<div id="post-div">
  <mat-card appearance="outlined">
    <mat-card-header>
      <!-- <mat-card-title> {{ title }} </mat-card-title> -->
      <mat-card-title-group>
        <mat-card-title>
          {{ title }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="subTitle">
          {{ subTitle }}
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div id="post-content" [innerHTML]="content"></div>
    </mat-card-content>
  </mat-card>
</div>
