<app-post-base
  [type]="type()"
  [title]="title_or_uri()"
  [content]="content()"
  [location]="'TextPost'"
  [created_at]="created_at()"
  [updated_at]="updated_at()"
>
  <div id="content-div" [innerHTML]="sanitzedContent"></div>
</app-post-base>

<!-- <div id="post-div">
  <mat-card appearance="outlined" class="mat-elevation-z1">
    <mat-card-header>
      <mat-card-title> {{ title }} </mat-card-title>
      <mat-card-title-group>
        <mat-card-title>
          {{ titleInput() }}
        </mat-card-title>
        @if (subTitleInput()) {
          <mat-card-subtitle>
            {{ subTitleInput() }}
          </mat-card-subtitle>
        }
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div id="post-content" [innerHTML]="contentInput()"></div>
    </mat-card-content>
  </mat-card>
</div> -->
