mat-chip {
  height: 2rem;
}

.about-content {
  position: relative;
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 34.375rem;
  justify-content: center;
}

mat-card {
  padding: 0.25rem;
  max-width: 95vw;
  width: 50rem;
  height: 12rem;
  min-width: 45vw;
}
