@use "@angular/material" as mat;
@use "themes" as themes;

@include mat.core();

@import "https://fonts.googleapis.com/icon?family=Material+Icons+Round";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  margin: 0;
}

// Define a dark theme
$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(themes.$md-A-1-primary, 800, 600, 900, A100),
        accent: mat.define-palette(themes.$md-A-1-secondary, 700, 500, 900, A100),
        warn: mat.define-palette(themes.$md-A-1-analagous1, 500, 300, 700, A100),
      ),
      // Only include `typography` and `density` in the default dark theme.
      typography: mat.define-typography-config(),
      density: 0,
    ));

// Define a light theme
$light-theme: mat.define-light-theme((color: (primary: mat.define-palette(themes.$md-A-1-primary, 800, 600, 900, A100),
        accent: mat.define-palette(themes.$md-A-1-secondary, 700, 500, 900, A100),
        warn: mat.define-palette(themes.$md-A-1-analagous1, 500, 300, 700, A100),
      ),
      // Only include `typography` and `density` in the default dark theme.
      typography: mat.define-typography-config(),
      density: 0,
    ));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.all-component-colors($light-theme);
}
