@use "@angular/material" as mat;
@use "./style_vars/75_theme-colors" as themes;

@include mat.elevation-classes();
@include mat.app-background();
@include mat.core();
@import "@angular/cdk/overlay-prebuilt.css";

$my-typ: (
  plain-family: "Quicksand",
  brand-family: "Quicksand",
);

$toolbar-height: 8rem;

$themey-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: themes.$primary-palette,
      tertiary: themes.$tertiary-palette,
    ),
    typography: $my-typ,
  )
);

$themey-dark: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: themes.$primary-palette,
      tertiary: themes.$tertiary-palette,
    ),
    typography: $my-typ,
  )
);

html {
  @supports (color: light-dark(#002f48, #e5f1ff)) {
    color-scheme: light dark;
    @include mat.theme(
      (
        color: (
          primary: themes.$primary-palette,
          tertiary: themes.$tertiary-palette,
        ),
        density: 0,
        typography: $my-typ,
      )
    );
  }

  @supports not (color: light-dark(#002f48, #e5f1ff)) {
    @include mat.core-theme($themey-dark);
    @include mat.all-component-themes($themey-dark);

    @media (prefers-color-scheme: light) {
      @include mat.core-color($themey-light);
      @include mat.all-component-colors($themey-light);
    }
  }

  @include mat.typography-hierarchy($themey-light);
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

img {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 10px;
}

#editor>ngx-editor-menu>div.NgxEditor__MenuBar {
  background-color: black;
}

.NgxEditor__MenuBar {
  border-radius: 10px 10px 0px 0px;
}

div.NgxEditor.NgxEditor {
  border-radius: 0px 0px 8px 8px;
}

@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  // @include mat.all-component-colors($light-theme);

  #editor > ngx-editor-menu > div.NgxEditor__MenuBar {
    background-color: orange;
  }
}

.mat-mdc-card.base {
  max-width: 80vw;
  width: 10rem;
  min-width: 45vw;
  height: 28rem;
}

.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
.mat-mdc-standard-chip .mat-mdc-chip-action-label {
  white-space: normal;
}

#editor > ngx-editor > div.NgxEditor div.NgxEditor__Content {
  height: 350px;
}

#editor .preview {
  padding: 0;
}

.app-color-picker .preview {
  box-shadow: none;
}

div#post-content#post-content#post-content p img {
  width: 85vw;
}

#badge-name {
  color: antiquewhite;
}

@media (min-height: 1024px) {
  #editor > ngx-editor > div.NgxEditor div.NgxEditor__Content {
    height: 32.125rem;
  }

  div.cdk-overlay-container
    div.cdk-global-overlay-wrapper
    div.cdk-overlay-pane {
    height: 70vh !important;
  }
}

@media (min-height: 1266px) {
  #editor > ngx-editor > div.NgxEditor div.NgxEditor__Content {
    height: 32.125rem;
  }

  div.cdk-overlay-container
    div.cdk-global-overlay-wrapper
    div.cdk-overlay-pane {
    height: 75vh !important;
  }
}

@media (max-width: 1400px) {
  div#post-content#post-content#post-content p img {
    width: 55vw;
  }
}

@media (max-width: 1080px) {
  div#post-content#post-content#post-content p img {
    width: 72vw;
  }
}

@media (max-width: 430px) {
  div#post-content#post-content#post-content p img {
    width: 82vw;
  }

  #location-type-selection-div {
    display: flex;
    flex-direction: column;
  }

  app-new-post-dialog {
    // __<<ngM2ThemingMigrationEscapedComment0>>__
    --mat-option-label-text-line-height: 0.25rem;
    // __<<ngM2ThemingMigrationEscapedComment1>>__
    --mdc-outlined-text-field-label-text-size: 0.5rem;
    // __<<ngM2ThemingMigrationEscapedComment2>>__
    --mdc-outlined-text-field-container-shape: 18px;
    // __<<ngM2ThemingMigrationEscapedComment3>>__
    // __<<ngM2ThemingMigrationEscapedComment4>>__
    --mat-form-field-container-text-line-height: 0.5rem;
    --mat-form-field-container-text-size: 0.5rem;
    // __<<ngM2ThemingMigrationEscapedComment5>>__
    --mat-form-field-container-height: 17px;
    // __<<ngM2ThemingMigrationEscapedComment6>>__
    // __<<ngM2ThemingMigrationEscapedComment7>>__
    --mat-form-field-container-vertical-padding: 7px;
    --mat-form-field-filled-with-label-container-padding-top: 8px;
  }
}

@media (max-width: 390px) {
  div#post-content#post-content#post-content p img {
    width: 76vw;
  }
}

@media (max-width: 375px) {
  div#post-content#post-content#post-content p img {
    width: 81vw;
  }
}

.title-small {
  font: var(--mat-sys-title-large);
}

.title-medium {
  font: var(--mat-sys-title-medium);
}

.title-large {
  font: var(--mat-sys-title-large);
}

.display-small {
  font: var(--mat-sys-display-large);
}

.display-medium {
  font: var(--mat-sys-display-medium);
}

.display-large {
  font: var(--mat-sys-display-large);
}

.tertiary-container {
  background-color: var(--mat-sys-tertiary-container);
  border-radius: var(--mat-sys-corner-large);
  padding: 1rem;
}

#dividy {
  border-top-color: black;
  border-top-width: 0.15rem;
}

#nav-button-container {
  display: flex;
  flex-direction: row;
  width: 44vw;
  justify-content: flex-end;
  flex-shrink: 1;
}

#toolbar-logo,
#toolbar-logo > img {
  max-inline-size: 100%;
  margin-inline-start: 0.1vw;
  margin-block-start: 0.1vh;
  block-size: auto;
  border-radius: 10px;
  width: 6vw;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  height: $toolbar-height;
  flex-basis: auto;

  .mat-toolbar-single-row {
    padding: 0;
  }
}

#logo {
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 2;
}

.spacer {
  width: 0.25rem;
}

@media (max-width: 90rem) {
  #toolbar-logo,
  #toolbar-logo > img {
    width: 8vw;
  }
}

@media (max-width: 67.5rem) {
  #logo {
    width: 30vw;
  }

  #nav-button-container {
    display: none;
  }

  #toolbar-logo,
  #toolbar-logo > img {
    width: 10.5vw;
  }

  #menu {
    width: 58vw;
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
    flex-shrink: 1;
  }

  mat-toolbar {
    width: 100vw;
    height: 5rem;
    flex-basis: auto;
  }

  .mat-toolbar-single-row {
    padding: 0;
  }
}

@media (max-width: 50rem) {
  #logo {
    width: 20vw;
  }

  #menu {
    width: 55vw;
  }
}

@media (max-width: 44.0625rem) {
  #logo {
    width: 25vw;
  }

  #toolbar-logo,
  #toolbar-logo > img {
    width: 18vw;
  }

  #menu {
    width: 45vw;
  }
}

@media (max-width: 33.125rem) {
  #menu {
    width: 43vw;
  }
}

@media (max-width: 23.75rem) {
  #menu {
    width: 40vw;
  }
}
