$JLZ-Portfolio-v2-1-hex: #A1710A;
$JLZ-Portfolio-v2-2-hex: #FFC13B;
$JLZ-Portfolio-v2-3-hex: #EF9B31;
$JLZ-Portfolio-v2-4-hex: #0039A1;
$JLZ-Portfolio-v2-5-hex: #1F68ED;

/* Color Theme Swatches in RGBA */
$JLZ-Portfolio-v2-1-rgba: rgba(161, 113, 10, 1);
$JLZ-Portfolio-v2-2-rgba: rgba(255, 193, 59, 1);
$JLZ-Portfolio-v2-3-rgba: rgba(239, 155, 49, 1);
$JLZ-Portfolio-v2-4-rgba: rgba(0, 57, 161, 1);
$JLZ-Portfolio-v2-5-rgba: rgba(31, 104, 237, 1);

/* Color Theme Swatches in HSLA */
$JLZ-Portfolio-v2-1-hsla: hsla(40, 88, 33, 1);
$JLZ-Portfolio-v2-2-hsla: hsla(41, 100, 61, 1);
$JLZ-Portfolio-v2-3-hsla: hsla(33, 85, 56, 1);
$JLZ-Portfolio-v2-4-hsla: hsla(218, 100, 31, 1);
$JLZ-Portfolio-v2-5-hsla: hsla(218, 85, 52, 1);