#about-div {
  height: 100vh;
  width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#first-blurb {
  padding: 2rem;
  width: 80rem;
}

#about-tabs {
  height: 80rem;
  width: 80rem;
}

footer {
  padding-top: 15vw;
}
