$about-div-height: 100vh;
$content-div-height: calc($about-div-height - 2.75rem);
$about-div-width: 100vw;
$content-div-width: calc($about-div-width - 2.75rem);
// $paragraph-div-height: calc($content-div-height - 2rem);

#about-div {
  display: flex;
  height: $about-div-height;
  width: $about-div-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-tab-group {
  height: $about-div-height;
  width: $about-div-width;
}

mat-chip-listbox.mat-chip-listbox {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#username-gen-card {
  width: 40rem;
  height: 40rem;
}

#username-gen-card {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.about-content,
.project-content {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: $about-div-height;
  max-width: $about-div-width;
}

.testy1 {
  width: 60rem;
  padding: 0.8rem;
  height: fit-content;
}

#about-tabs {
  width: 100vw;
}

div#footer>footer {
  display: inline-flex;
  justify-content: center;
  width: 80rem;
  padding-top: 4rem;
}

mat-form-field {
  margin: 1rem;
  width: 30rem;
}

#badge-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// @media (max-width: 20rem) {
//   #about-tabs {
//     height: 40rem;
//     width: 40rem;
//   }
// }