<div id="about-div">
 
  <mat-tab-group
    (selectedTabChange)="onTabChange($event)"
    id="about-tabs"
    color="primary"
    backgroundColor="primary"
    mat-align-tabs="center"
  >
    <mat-tab label="About Me">
      <div class="about-content">
        <mat-card class="testy1">
          <mat-card-content>
            Jake Zwickler is a Blockchain Technology Consultant within IBM’s
            Global Business Services. Mr. Zwickler graduated from Binghamton
            University with a Bachelor of Science in Computer Science and a
            minor in Japanese. Through his studies and work experiences, he has
            developed a proficiency across a range of development languages and
            platforms. Mr. Zwickler has worked on projects including the
            OpenIDL, Responsible Sourcing Blockchain Network, and the NY State
            Excelsior Pass.
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Skills">
      <div class="about-content">
        <mat-card class="testy1">
          <mat-card-content>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Programming languages: </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item>C</mat-list-item>
                  <mat-list-item>C++</mat-list-item>
                  <mat-list-item>Java</mat-list-item>
                  <mat-list-item>JavaScript</mat-list-item>
                  <mat-list-item>Node.JS</mat-list-item>
                  <mat-list-item>Python</mat-list-item>
                  <mat-list-item>Typescript</mat-list-item>
                  <mat-list-item>Go </mat-list-item>
                  <mat-list-item> Ruby</mat-list-item>
                  <mat-list-item>Haskell</mat-list-item>
                  <mat-list-item>Prolog</mat-list-item>
                </mat-list>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Methodologies: </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item>Agile Software Development</mat-list-item>
                  <mat-list-item>Test-Driven Development</mat-list-item>
                </mat-list>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Tools:</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item> Angular</mat-list-item>
                  <mat-list-item>Chai</mat-list-item>
                  <mat-list-item>Docker</mat-list-item>
                  <mat-list-item>Express</mat-list-item>
                  <mat-list-item>Git</mat-list-item>
                  <mat-list-item>Github</mat-list-item>
                  <mat-list-item>Hyperledger Fabric</mat-list-item>
                  <mat-list-item>IBM Cloud </mat-list-item>
                  <mat-list-item> IBM Carbon Design System</mat-list-item>
                  <mat-list-item>Jenkins</mat-list-item>
                  <mat-list-item>Jira</mat-list-item>
                  <mat-list-item>Kubernetes</mat-list-item>
                  <mat-list-item>Mocha</mat-list-item>
                  <mat-list-item>MongoDB</mat-list-item>
                  <mat-list-item>Supertest</mat-list-item>
                  <mat-list-item>Swagger/OpenAPI 3</mat-list-item>

                  <mat-list-item>Cloud Foundry</mat-list-item>
                  <mat-list-item> Cloudant</mat-list-item>
                  <mat-list-item
                    >Hyperledger Indy (IBM Verify Credentials)</mat-list-item
                  >
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Credentials">
      <div id="badge-div">
        <div class="about-content" id="credential-div">
          <mat-card class="testy1">
            <mat-card-content>
              <div
                class="badges"
                data-iframe-width="290"
                data-iframe-height="270"
                data-share-badge-id="de13c140-19b0-48a4-a4a2-102ae76a1a9f"
                data-share-badge-host="https://www.credly.com"
              ></div>
              <div
                class="badges"
                data-iframe-width="290"
                data-iframe-height="270"
                data-share-badge-id="cf233590-0d5d-439e-8250-699a65a96d64"
                data-share-badge-host="https://www.credly.com"
              ></div>
              <div
                class="badges"
                data-iframe-width="290"
                data-iframe-height="270"
                data-share-badge-id="646fd56b-5b42-49d3-ab4e-55deeb252fcc"
                data-share-badge-host="https://www.credly.com"
              ></div>
              <div
                class="badges"
                data-iframe-width="290"
                data-iframe-height="270"
                data-share-badge-id="006da363-74b6-4f70-a2f1-1d89448ca9af"
                data-share-badge-host="https://www.credly.com"
              ></div>
              <div
                class="badges"
                data-iframe-width="290"
                data-iframe-height="270"
                data-share-badge-id="b94419ca-c4f1-416c-9886-e79f15dbc462"
                data-share-badge-host="https://www.credly.com"
              ></div>
              <div
                class="badges"
                data-iframe-width="290"
                data-iframe-height="270"
                data-share-badge-id="2af07c6c-dc9d-45ef-b6e9-9596fab38b30"
                data-share-badge-host="https://www.credly.com"
              ></div>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- <ul>
          <li>
            <a href="https://meritpages.com/Jacob-Zwickler/1787255">
              College Deans List
            </a>
          </li>
          <li>
            <a href="https://bingweb.binghamton.edu/~upe/news.html#:~:text=Spring%20Induction%202016,Jacob%20Zwickler">
              Upsilon Pi Epsilon Member</a>
          </li>
        </ul> -->
      </div>
    </mat-tab>
    <mat-tab label="Projects">
      <div class="project-content">
        <lib-username-generator
          class="project-content-item"
          [(usernameForm)]="usernameFormInApp"
          [(result)]="_result"
        ></lib-username-generator>
        <lib-nasa class="project-content-item" [apiKey]="nasaApiKey"></lib-nasa>
        <lib-pokemon class="project-content-item"></lib-pokemon>
        <lib-boredom-solver class="project-content-item"></lib-boredom-solver>
        <lib-age-by-name class="project-content-item"></lib-age-by-name>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div id="footer">
    <footer>
      This site was originally built using Angular 12 and now uses Angular
      {{ angularVersion.full }}, Angular Material, Node.JS, and TypeScript.
    </footer>
  </div>
</div>
