$about-div-height: 70vh;
$content-div-height: calc($about-div-height - 2rem);
$about-div-width: 100vw;
$content-div-width: calc($about-div-width - 2.75rem);
// $paragraph-div-height: calc($content-div-height - 2rem);

#about-div {
  display: flex;
  height: $about-div-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content,
.project-content {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: $content-div-height;
}

.project-content-item {
  margin: 1rem;
}

#about-tabs {
  width: 98vw;
}

div#footer > footer {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 72vw;
  padding: 1rem;
}

mat-form-field {
  margin: 1rem;
  width: 30rem;
}

#badge-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-card {
  padding: 0.25rem;
  max-width: 80vw;
  min-width: 65vw;
}

// @media (max-width: 20rem) {
//   #about-tabs {
//     height: 40rem;
//     width: 40rem;
//   }
// }
